*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.buttonContainer{
  position: relative;
  display: inline-block;
}
#pressParticle{
  position: absolute;
  top: -20;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
.generateBtn{
  
}