@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.parentContainer {
  display: flex;
  background: #0b0b0b;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  gap: 40px;
}
h1 {
  color: white;
  font-size: 3rem;

  font-family: Sanchez;
  text-align: center;
  font-weight: 600;
}

.notDone {
  width: 460px;
 
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: visible;
   min-height: 120px;
  background: linear-gradient(to top right, #323232, #1b1b1b);
  border-radius: 30px;
  box-shadow: 0 0 5px #292929;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
  gap: 20px;
  font-family: Sanchez;
  border: 2px #323232 solid;
}
.done {
  padding: 50px 90px;
  background: linear-gradient(to top right, #323232, #1b1b1b);
  border-radius: 30px;
  box-shadow: 0 0 10px #4b4b4b86;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
  gap: 20px;
  font-family: Sanchez;
  border: 2px #323232 solid;
}
.input {
  padding: 25px;
  border: solid 2px#313131;
  background: #222;
  border-radius: 20px;
  box-shadow: #222 0 0 10px;
  font-family: "port lligat slab";
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
@keyframes move {
  from {
    transform: translateY(-170px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
button {
  padding: 20px;
  color: white;
  background: linear-gradient(purple, #360836);
  box-shadow: 0 0 10px #800080b6;
  border: none;
  margin-left: 30px;
  border-radius: 12px;
  font-size: 2rem;
  font-family: "port lligat slab";
}
.inputAction {
  display: flex;
  align-items: center;
}
.modeControl {
  background: #222;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px #2a2a2a;
  position: absolute;
  top: 20px;
  right: 20px;
}
.taskContainer {
  width: 400px;
 
  background: #434343;
  padding: 15px;
  border-radius: 16px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.options svg {
  margin: 0 !important;
  width: 25px !important;
  height: 25px !important;
}
.checkTickBox {
  height: 30px;
  width: 30px;
  background: #3a3a3a;
}
.textCheckContainer {
  display: flex;
  
  gap: 20px;
}
.checkTickBox {
  border-radius: 4px;
  background: silver;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkTickMark svg path{
  width: 50px;
  height: 60px;
  /* background: black !important; */
  /* stroke-width: 2px !important; */
  animation:  600ms ease-in forwards;
  stroke-dasharray: 26.376968383789062;
  stroke-dashoffset: 26.376968383789062;
}
@keyframes draw {
  from {
    stroke-dashoffset: 26.376968383789062;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.line svg{
width: 200px;
}