* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(45deg, #7a3700, #a01400);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.from,
.to {
    padding: 16px;
    background: #1919196d;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    
}
.scaleSelectorContainer {
    display: flex;
}

